table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
  }
  
  input {
    margin: 5px;
  }
  
  #popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px black;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
  
  #container {
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
  }
  